@charset "UTF-8";

@import '../../../../static/sass/base.scss';

$prefixCls: 'zby-list';
$itemPrefixCls: 'zby-item';

/* List */
.#{$prefixCls} {
  &-header {
    padding: 0 40px;
    @include font-dpr(14px);
    line-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    vertical-align: top;
  }

  &-footer {
    padding: 0 40px;
    @include font-dpr(14px);
    line-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    vertical-align: top;
  }

  &-body {
    position: relative;
    background-color: #fff;
    @include border-top();

    &:after {
      @include list-item-bottom-line(0px);
    }

    div:not(:last-child) {
      .#{$itemPrefixCls}:after,
      &.#{$itemPrefixCls}:after {
        @include list-item-bottom-line();
      }
    }
  }
}