@charset "UTF-8";

$viColor: #00b4a5;
$darkViColor: #009486;

// px2rem并没有自动实现该功能 还是手动加上吧
@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

// *
a {
  background: transparent;
  text-decoration: none;

  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

// list title
.zby-list-title {
  padding: 0 40px;
  @include font-dpr(14px);
  line-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  vertical-align: top;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}


// List
.zby-list-box {
  background-color: #fff;
  line-height: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .zby-list-item {
    padding: 0 40px;

    &:last-of-type {
      .zby-item-box {
        border: none;
      }
    }

    &.zby-list-item-tap-active {
      background-color: #ddd;
    }

    .zby-item-box {
      display: -webkit-flex;
      display: flex;
      border-bottom: 1px solid #ccc;
      @include font-dpr(16px);
      color: #333;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &.with-subtitle {
        padding-right: 40px;
      }

      &.with-icon {
        position: relative;
        padding-right: 40px;
      }

      &.multiple {
        padding: 25px 0 25px 0;
        display: block;

        .zby-item {
          display: block;
          line-height: 50px;
        }

        .subtitle {
          display: block;
          max-width: 100%;
          margin-top: 10px;
          line-height: 40px;
        }

        .icon {
          line-height: 150px;
        }
      }

      &.disabled {
        color: #bbb;
      }

      .zby-item {
        display: inline-block;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        vertical-align: top;
      }

      .subtitle {
        max-width: 25%;
        color: #999;
        @include font-dpr(14px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        vertical-align: top;
      }

      .icon {
        position: absolute;
        display: block;
        right: -10px;
        top: 0;
        font-size: 48px;
        line-height: 100px;
        color: #999;
      }
    }
  }
}

// Button
.zby-button {
  display: block;
  margin: 20px 0;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 100px;
  font-size: 32px;
  overflow: hidden;
  clear: both;
  outline: none;
  opacity: 1;

  &.primary {
    background-color: $viColor;

    &.zby-button-active {
      background-color: $darkViColor;
    }

    .zby-button-text {
      color: #fff;
    }
  }

  &.zby-button-active {
    background-color: #ddd;
  }

  .zby-button-text {
    color: #000;
  }
}