@charset "UTF-8";

$viColor: #00b4a5;
$darkViColor: #009486;
$lightGray: #ddd;
$darkGray: #bbb;

// px2rem并没有自动实现该功能 还是手动加上吧
@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

// *
a {
  background: transparent;
  text-decoration: none;

  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

// list title
.zby-list-title {
  padding: 0 40px;
  @include font-dpr(14px);
  line-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  vertical-align: top;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

// List
.zby-list-box {
  background-color: #fff;
  line-height: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  // 下边线
  div:not(:last-child) {
    .zby-list-item {
      .zby-item-box {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .zby-list-item {
    padding: 0 40px;

    &:last-of-type {
      .zby-item-box {
        border-bottom: none;
      }
    }

    &.zby-list-item-tap-active {
      background-color: $lightGray;
    }

    .zby-item-box {
      display: -webkit-flex;
      display: flex;
      font-size: 32px;
      color: #333;
      -webkit-box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;

      &.with-icon {
        position: relative;
        padding-right: 40px;
      }

      &.multiple {
        padding: 25px 0 25px 0;
        display: block;

        .zby-item {
          display: block;
          line-height: 50px;
        }

        .subtitle {
          display: block;
          max-width: 100%;
          margin-top: 10px;
          line-height: 40px;
        }

        .icon {
          line-height: 150px;
        }
      }

      &.disabled {
        color: #bbb;
      }

      .zby-item {
        display: inline-block;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        vertical-align: top;
      }

      .subtitle {
        max-width: 35%;
        color: #999;
        font-size: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        vertical-align: top;
      }

      .icon {
        position: absolute;
        display: block;
        right: -10px;
        top: 0;
        font-size: 48px;
        line-height: 100px;
        color: #999;
      }
    }
  }
}

// Button
.zby-button {
  display: block;
  margin: 20px 0;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid $lightGray;
  text-align: center;
  line-height: 100px;
  font-size: 32px;
  overflow: hidden;
  clear: both;
  outline: none;
  opacity: 1;

  -webkit-transition: opacity .5s;
  transition: opacity .5s;

  &.inline {
    display: inline-block;
    margin: 0 10px;
    padding: 0 20px;
    height: auto;
    font-size: 28px;
    line-height: 50px;
    vertical-align: middle;
  }

  &.group {
    display: inline-block;
    padding: 0 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &.disabled {
    background-color: $lightGray;

    .zby-button-text, .fa {
      color: $darkGray;
    }
  }

  &.primary {
    background-color: $viColor;
    border: none;

    &.disabled {
      background-color: $viColor;
      border: none;
      opacity: .5;

      &.zby-button-active {
        background-color: $darkViColor;
      }

      .zby-button-text, .fa {
        color: #fff;
      }
    }

    &.zby-button-active {
      background-color: $darkViColor;
    }

    .zby-button-text, .fa {
      color: #fff;
    }
  }

  &.ghost {
    background-color: transparent;
    border: 1px solid $viColor;

    &.disabled {
      background-color: $lightGray;
      border: none;
      opacity: .8;

      .zby-button-text, .fa {
        color: $darkGray;
      }
    }

    &.zby-button-active {
      background-color: $viColor;
      .zby-button-text, .fa {
        color: #fff;
      }
    }

    .zby-button-text, .fa {
      color: $viColor;
    }
  }

  &.zby-button-active {
    background-color: $lightGray;
  }

  .zby-button-text {
    display: inline-block;
    color: #000;
  }

  .fa {
    display: inline-block;
    margin-right: 10px;
    color: #000;
  }
}

// Switch
.zby-switch-box {
  position: relative;
  display: inline-block;
  width: 120px;
  border-radius: 30px;
  vertical-align: middle;
  // 清除浏览器默认样式
  -webkit-appearance:none;
  appearance: none;
  z-index: 2;

  transition: all .3s;

  &.iOS {
    height: 60px;
    border: 2px solid #e5e5e5;

    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3) inset;
    box-shadow: 0 2px 5px rgba(0,0,0,.3) inset;

    &:after {
      width: 60px;
      height: 60px;
      left: 1px;
      top: 1px;
      background-color: #fff;

      -webkit-box-shadow: 0 8px 20px rgba(0,0,0,.3);
      box-shadow: 0 8px 20px rgba(0,0,0,.3);
    }

    &.focus {
      &:after {
        width: 70px;
      }

      &.on {
        &:after {
          transform: translate(68%);
        }
      }
    }

    &.disabled {
      opacity: .3;
    }
  }

  &.android {
    height: 60px;
    background-color: $viColor;

    &:after {
      width: 52px;
      height: 52px;
      left: 4px;
      top: 4px;
      background-color: #fff;
    }

    &.focus {
      &:after {
        width: 60px;
      }

      &.on {
        &:after {
          transform: translate(85%);
        }
      }
    }

    &.disabled {
      &.on, &.off {
        background-color: $lightGray;
        &:after {
          background-color: $darkGray;
        }
      }
    }

    .attachedTextFalse {
      color: #fff;
      opacity: 1;
    }
  }

  &.off {
    &.iOS {
      background-color: #fff;
    }

    &.android {
      background-color: $darkGray;
    }

    &:after {
      transform: translate(0%);
    }

    .attachedTextFalse {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  &.on {
    &.iOS {
      background-color: #4dd865;

      &:after {
        transform: translate(95%);
      }
    }

    &.android {
      background-color: $viColor;

      &:after {
        transform: translate(112%);
      }
    }

    .attachedTextTrue {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  &:after {
    content: '';
    position: absolute;
    border-radius: 30px;
    z-index: 3;
    transition: all .3s;
  }

  .attachedTextTrue {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    font-size: 26px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    opacity: .8;

    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);

    -webkit-transition: all .3s;
    transition: all .3s;


    //transform: translate(-100%, 0);
  }

  .attachedTextFalse {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    opacity: .5;

    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);

    -webkit-transition: all .3s;
    transition: all .3s;

    //transform: translate(-100%, 0);
  }
}

// PickerView
.zby-picker-view-box {
  display: flex;
  align-items: center;
  //background-color: #000;

  .zby-picker-view-item {
    flex: 1;

    .zby-picker-view-list {
      position: relative;
      height: 400px;
      overflow: hidden;

      .zby-picker-view-window {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image:
                linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.4)),
                linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.4));
        background-position: top, bottom;
        background-size: 100% 166px;
        background-repeat: no-repeat;
        z-index: 3;
      }

      .zby-picker-view-indicator {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 68px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        transform: translate(0, -50%);
        z-index: 3;
      }

      .zby-picker-view-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 166px 0;
        z-index: 1;

        transform: translateY(0);

        .zby-picker-view-col {
          height: 68px;
          padding: 0 10px;
          font-size: 34px;
          color: #000;
          text-align: center;
          line-height: 68px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space:nowrap;

          &.selected {
            font-size: 38px;
          }
        }
      }
    }
  }
}

// Picker
.zby-picker-box {
  .zby-picker-popup-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
    transition: all .3s;

    &.hide {
      z-index: -1;
      background-color: rgba(0,0,0,0);
    }
  }

  .zby-picker-popup-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    z-index: 1000;
    background-color: #fff;
    transition: all .3s;

    &.popup {
      bottom: 0;
    }

    .zby-picker-popup-header {
      display: flex;
      border-bottom: 1px solid #ddd;

      .zby-picker-popup-item {
        padding: 10px 30px;
        height: 60px;
        font-size: 34px;
        line-height: 60px;
        color: #000;
        text-align: center;

        &.zby-header-title {
          flex: 1;
        }

        &.zby-header-left,
        &.zby-header-right {
          color: $viColor;
        }
      }
    }
  }
}

// Mask
.zby-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 100;
  opacity: .3;
}

// Notice
.zby-notice-box {
  &.leave {
    .zby-toast-box {
      transform: translate(-50%, -100%);
      opacity: 0;
    }
  }
}

// Toast
.zby-toast-box {
  position: fixed;
  left: 50%;
  top: 30%;
  padding: 20px 30px;
  min-width: 200px;
  max-width: 60%;
  background: rgba(0,0,0, .7);
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
  z-index: 110;

  -webkit-transition: all .3s;
  transition: all .3s;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  // 正常提示
  &.info {
    -webkit-animation: Flop .5s linear;
    animation: Flop .5s linear;
  }

  // 成功提示
  &.success {
    -webkit-animation: BombIn .3s;
    animation: BombIn .3s;
  }

  // 警告提示⚠️
  &.warning {
    -webkit-animation: slideInFromBottom .3s;
    animation: slideInFromBottom .3s;
  }

  // 错误提示
  &.error {
    -webkit-animation: shake .5s;
    animation: shake .5s;
  }

  .zby-toast-icon {
    padding: 20px;
    font-size: 80px;
    text-align: center;
    color: #fff;
  }

  .zby-toast-content {
    font-size: 28px;
    text-align: center;
    color: #fff;
  }
}

@keyframes BombIn {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
  }
}

@-webkit-keyframes BombIn {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes Flop {
  0% {
    transform: translate(-50%, -50%) rotateY(90deg);
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
  67% {
    transform: translate(-50%, -50%) rotateY(-30deg);
    -webkit-transform: translate(-50%, -50%) rotateY(-30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@-webkit-keyframes Flop {
  0% {
    transform: translate(-50%, -50%) rotateY(90deg);
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
  67% {
    transform: translate(-50%, -50%) rotateY(-30deg);
    -webkit-transform: translate(-50%, -50%) rotateY(-30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  15%, 45%, 75% {
    -webkit-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
  }

  30%, 60%, 90% {
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  15%, 45%, 75% {
    -webkit-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
  }

  30%, 60%, 90% {
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
  }
}