@charset "UTF-8";

// px2rem并没有自动实现该功能 还是手动加上吧
@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}
// list title
.zby-list-title {
  padding: 0 40px;
  @include font-dpr(14px);
  line-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  vertical-align: top;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}


// List
.zby-list-box {
  background-color: #fff;
  padding: 0 40px;
  display: -webkit-flex;
  display: flex;
  line-height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  &.with-subtitle {
    padding-right: 80px;
  }

  &.with-icon {
    position: relative;
    padding-right: 80px;
  }

  .zby-list-item {
    display: inline-block;
    flex: 1;
    color: #333;
    @include font-dpr(16px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    vertical-align: top;
  }

  .subtitle {
    max-width: 25%;
    color: #999;
    @include font-dpr(14px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    vertical-align: top;
  }

  .icon {
    position: absolute;
    display: block;
    right: 30px;
    top: 0;
    font-size: 48px;
    line-height: 100px;
    color: #999;
  }
}