@charset "UTF-8";

$viColor: #00b4a5;
$darkViColor: #009486;
$linearViColor: linear-gradient(to right, #31D5A1, #00B4A5);
$lightGray: #ddd;
$darkGray: #bbb;

// PickerView
.zby-picker-view {
  display: flex;
  align-items: center;
  //background-color: #000;

  .zby-picker-column {
    flex: 1;

    .zby-picker-column-list {
      position: relative;
      height: 400px;
      overflow: hidden;

      .zby-picker-column-window {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image:
                linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.4)),
                linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.4));
        background-position: top, bottom;
        background-size: 100% 166px;
        background-repeat: no-repeat;
        z-index: 3;
      }

      .zby-picker-column-indicator {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 68px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        transform: translate(0, -50%);
        z-index: 3;
      }

      .zby-picker-column-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 166px 0;
        z-index: 1;

        transform: translateY(0);

        .zby-picker-column-col {
          height: 68px;
          padding: 0 10px;
          font-size: 34px;
          color: #000;
          text-align: center;
          line-height: 68px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space:nowrap;

          &.selected {
            font-size: 38px;
          }
        }
      }
    }
  }
}