@charset "UTF-8";

$viColor: #00b4a5;
$darkViColor: #009486;
$linearViColor: linear-gradient(to right, #31D5A1, #00B4A5);
$lightGray: #ddd;
$darkGray: #bbb;

// Uploader
.zby-uploader-box {
  width: 100%;
  padding: 20px;
  background: #fff;

  .zby-img-preview-box {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    background: #fff;
    animation: scaleIn .3s;
    vertical-align: top;

    transition: all .3s;
    transform-origin: left top;

    &.loading {
      overflow: hidden;
    }

    &.error {
      border-color: red;
    }

    &.deleted {
      margin: 0;
      width: 0;
      height: 0;
      opacity: 0;
      animation: scaleOut .3s;
    }

    img {
      display: block;
      height: 100%;
      border-radius: 20px;
    }

    .uploading {
      width: 200px;
      height: 100%;
      text-align: center;

      .fa {
        font-size: 80px;
        line-height: 176px;
        color: #999;
      }
    }

    .progress-text {
      font-size: 26px;
      color: #999;
      position: absolute;
      left: 50%;
      bottom: 15px;

      transform: translate(-50%);
    }

    .progress {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 6px;
      background: $linearViColor;
    }

    .close {
      position: absolute;
      right: -20px;
      top: -20px;
      width: 40px;
      height: 40px;
      border: 1px solid $darkGray;
      background: #fff;
      border-radius: 50%;
      font-size: 24px;
      line-height: 40px;
      color: $viColor;
      text-align: center;
    }
  }

  .zby-upload-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px dashed #d9d9d9;
    vertical-align: top;
    text-align: center;
    color: #999;

    box-sizing: border-box;

    &.zby-upload-img-active {
      background: #fbfbfb;
    }

    .fa-plus {
      font-size: 60px;
      line-height: 150px;
    }

    .text {
      font-size: 28px;
    }
  }

  .file-input {
    display: none;
  }
}

@keyframes scaleIn {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: auto;
    height: 200px;
  }
}

@keyframes scaleOut {
  0% {
    width: auto;
    height: 200px;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}