@charset "UTF-8";

$viColor: #00b4a5;
$darkViColor: #009486;
$linearViColor: linear-gradient(to right, #31D5A1, #00B4A5);
$lightGray: #ddd;
$darkGray: #bbb;

// px2rem并没有自动实现该功能 还是手动加上吧
@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

// list title
.zby-list-title {
  padding: 0 40px;
  @include font-dpr(14px);
  line-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  vertical-align: top;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}