@charset "UTF-8";

// Notice
.zby-notice-box {
  &.leave {
    .zby-toast-box {
      transform: translate(-50%, -100%);
      opacity: 0;
    }
  }
}

// Toast
.zby-toast-box {
  position: fixed;
  left: 50%;
  top: 30%;
  padding: 20px 30px;
  min-width: 200px;
  max-width: 60%;
  background: rgba(0,0,0, .7);
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
  z-index: 110;

  -webkit-transition: all .3s;
  transition: all .3s;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  // 正常提示
  &.info {
    -webkit-animation: Flop .5s linear;
    animation: Flop .5s linear;
  }

  // 成功提示
  &.success {
    -webkit-animation: BombIn .3s;
    animation: BombIn .3s;
  }

  // 警告提示⚠️
  &.warning {
    -webkit-animation: slideInFromBottom .3s;
    animation: slideInFromBottom .3s;
  }

  // 错误提示
  &.error {
    -webkit-animation: shake .5s;
    animation: shake .5s;
  }

  .zby-toast-icon {
    padding: 20px;
    font-size: 80px;
    text-align: center;
    color: #fff;
  }

  .zby-toast-content {
    font-size: 28px;
    text-align: center;
    color: #fff;
  }
}

@keyframes BombIn {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
  }
}

@-webkit-keyframes BombIn {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes Flop {
  0% {
    transform: translate(-50%, -50%) rotateY(90deg);
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
  67% {
    transform: translate(-50%, -50%) rotateY(-30deg);
    -webkit-transform: translate(-50%, -50%) rotateY(-30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@-webkit-keyframes Flop {
  0% {
    transform: translate(-50%, -50%) rotateY(90deg);
    -webkit-transform: translate(-50%, -50%) rotateY(90deg);
  }
  33% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
  67% {
    transform: translate(-50%, -50%) rotateY(-30deg);
    -webkit-transform: translate(-50%, -50%) rotateY(-30deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  15%, 45%, 75% {
    -webkit-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
  }

  30%, 60%, 90% {
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  15%, 45%, 75% {
    -webkit-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
  }

  30%, 60%, 90% {
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
  }
}