@charset "UTF-8";

@import '../../../../static/sass/base.scss';

$prefixCls: 'zby-notification';

.#{$prefixCls}-box {
  position: fixed;
  left: 50%;
  top: 30%;
  width: 40%;
  height: 300px;

  transform: translate3D(-50%, -50%, 0);
  z-index: 110;
}