@charset "UTF-8";

$viColor: #00b4a5;
$darkViColor: #009486;
$linearViColor: linear-gradient(to right, #31D5A1, #00B4A5);
$lightGray: #ddd;
$darkGray: #bbb;

// Button
.zby-button {
  display: block;
  margin: 20px 0;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid $lightGray;
  text-align: center;
  line-height: 100px;
  font-size: 32px;
  overflow: hidden;
  clear: both;
  outline: none;
  opacity: 1;

  transition: opacity .5s;

  //&.inline {
  //  display: inline-block;
  //  margin: 0 10px;
  //  padding: 0 20px;
  //  height: auto;
  //  font-size: 28px;
  //  line-height: 50px;
  //  vertical-align: middle;
  //}
  //
  //&.group {
  //  display: inline-block;
  //  padding: 0 40px;
  //  margin-left: 20px;
  //  margin-right: 20px;
  //}
  //
  //&.disabled {
  //  background-color: $lightGray;
  //
  //  .zby-button-text, .fa {
  //    color: $darkGray;
  //  }
  //}
  //
  //&.primary {
  //  background-color: $viColor;
  //  border: none;
  //
  //  &.disabled {
  //    background-color: $viColor;
  //    border: none;
  //    opacity: .5;
  //
  //    &.zby-button-active {
  //      background-color: $darkViColor;
  //    }
  //
  //    .zby-button-text, .fa {
  //      color: #fff;
  //    }
  //  }
  //
  //  &.zby-button-active {
  //    background-color: $darkViColor;
  //  }
  //
  //  .zby-button-text, .fa {
  //    color: #fff;
  //  }
  //}
  //
  //&.ghost {
  //  background-color: transparent;
  //  border: 1px solid $viColor;
  //
  //  &.disabled {
  //    background-color: $lightGray;
  //    border: none;
  //    opacity: .8;
  //
  //    .zby-button-text, .fa {
  //      color: $darkGray;
  //    }
  //  }
  //
  //  &.zby-button-active {
  //    background-color: $viColor;
  //    .zby-button-text, .fa {
  //      color: #fff;
  //    }
  //  }
  //
  //  .zby-button-text, .fa {
  //    color: $viColor;
  //  }
  //}
  //
  //&.zby-button-active {
  //  background-color: $lightGray;
  //}
  //
  //.zby-button-text {
  //  display: inline-block;
  //  color: #000;
  //}
  //
  //.fa {
  //  display: inline-block;
  //  margin-right: 10px;
  //  color: #000;
  //}
}