@charset "UTF-8";

@import '../../../../static/sass/base.scss';

$prefixCls: 'zby-button';

// Button
.#{$prefixCls} {
  display: block;
  margin: 20px 0;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid $lightGray;
  text-align: center;
  line-height: 100px;
  font-size: 32px;
  overflow: hidden;
  clear: both;
  outline: none;
  opacity: 1;

  transition: opacity .5s;

  &.inline {
    display: inline-block;
    margin: 0 10px;
    padding: 0 20px;
    height: auto;
    font-size: 28px;
    line-height: 50px;
    vertical-align: middle;
  }
  // 按钮组按钮
  &.group {
    margin: 20px 10px;
    padding: 0 40px;
    flex: 1;
  }

  // disabled的时候 default的按钮是灰色的
  &.disabled {
    background-color: $lightGray;

    .#{$prefixCls}-text, .fa {
      color: $darkGray;
    }

    // primary 变透明
    &.primary {
      opacity: .5;
    }

    // ghost
    &.ghost {
      border-color: $darkGray;
      opacity: .5;

      .#{$prefixCls}-text, .fa {
        color: $darkGray;
      }
    }
  }

  // primary按钮 绿底白字
  &.primary {
    background-color: $viColor;
    border: none;

    &.#{$prefixCls}-active {
      background-color: $darkViColor;
    }

    .#{$prefixCls}-text, .fa {
      color: #fff;
    }
  }
  // 幽灵按钮 底色透明
  &.ghost {
    background-color: transparent;
    border-color: $viColor;

    &.#{$prefixCls}-active {
      background-color: $viColor;
      .#{$prefixCls}-text, .fa {
        color: #fff;
      }
    }

    .#{$prefixCls}-text, .fa {
      color: $viColor;
    }
  }

  &.#{$prefixCls}-active {
    background-color: $lightGray;
  }

  .#{$prefixCls}-text {
    display: inline-block;
    color: #000;
  }

  .fa {
    display: inline-block;
    margin-right: 10px;
    color: #000;
  }
}